.sidebar {
    padding-right: 6px;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    width: 10px;
}

.remove-sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #D5E2FD;
    border-radius: 1rem;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #A4C1FD;
    border-radius: 1rem;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #7596f0;
}
