.outer-container {
    -webkit-mask: linear-gradient(90deg, transparent, #f8f4f4 10%, #f8f4f4 90%, transparent);
    mask: linear-gradient(90deg, transparent, gray 10%, gray 90%, transparent)
}

.inner-container {
animation: scroll 20s linear infinite;
}

.review {
    -webkit-mask-image: linear-gradient(
        rgb(0, 0, 0 / 1),
        rgb(0, 0, 0 / .3),
        rgb(0, 0, 0 / 0),
    );
    mask-image: linear-gradient(red, transparent);
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}