/* For all browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d5e2fd;
}

::-webkit-scrollbar-thumb {
    background-color: #a4c1fd;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7596f0;
}

/* For firefox */
@supports (scrollbar-color: #a4c1fd transparent) {
    main {
        scrollbar-color: #a4c1fd transparent;
    }
}
