/* For all browsers */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #D5E2FD;
}

body::-webkit-scrollbar-thumb {
    background-color: #A4C1FD;
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #7596f0;
}

/* For firefox */
@supports (scrollbar-color: #A4C1FD transparent) {
    main {
        scrollbar-color: #A4C1FD transparent;
    }
}